{% extends 'base.html' %}

{% block title %} Blogs {% endblock %}

{% block css %}
.edit{
float: right;
}
{% endblock %}
{% block body %}
{% load humanize %}
<div class="container w-75 my-4">
      <h2 class="blog-post-title">{{post.title}}</h2>
      <br>
      <div class="media">
            {% if post.author.profile.image %}
            <img class="mr-3 rounded-circle" src="{{post.author.profile.image.url}}" width="50px" height="50px"
                  alt="image">
            {% endif %}
            <div class="media-body">
                  <h5 class="mt-0"><a href="/user_profile/{{post.author.id}}/">{{post.author}}
                              {% if user.is_authenticated %}
                              {% if user.id == post.author.id %}
                              <small><a href="/edit_blog_post/{{post.slug}}/" class="edit btn btn-warning">Edit Blog Post</a></small>
                              {% endif %}
                              {% endif %}
                        </a></h5>
                  {{post.dateTime}}
            </div>
      </div>
      <br>
      <img src="/media/{{post.image}}" alt="" height="250px" width="500px">
      <br>
      <p>{{post.content}}.</p>
      <hr>
      {% if user.is_authenticated %}
      <div class="container">
            <h2>Add Comments Here</h2>
            <form action="/blog/{{post.slug}}/" method="POST"> {% csrf_token %}
                  <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                              style="height: 100px" id="content" name="content"></textarea>
                        <label for="floatingTextarea2">Leave a comment here.</label>
                        <br>
                        <button type="submit" class="btn btn-primary">Comment</button>
                  </div>
            </form>
            {% else %}
            <div class="container">
                  <h4><a href="/login/">Login</a> to post comments below.</h4>
                  {% endif %}
                  <br>
                  <h2>All Comments ({{comments.count}})</h2>
                  <br>
                  {% for comment in comments %}
                  <div class="card">
                        <div class="card-header">
                              <span style="font-size: 22px;">{{comment.user}} </span> <span
                                    style="font-size: 12px;">{{comment.dateTime | naturaltime}}</span>
                        </div>
                        <div class="card-body">
                              <h6 class="card-text">{{comment.content}}</h6>
                        </div>
                  </div>
                  <br>
                  {% endfor %}
            </div>
      </div>

      {% endblock %}