{% extends 'base.html' %}

{% block title %} Edit Page {% endblock %}

{% block css %}
{% endblock %}
{% block body %}
<form action="/edit_profile/" enctype="multipart/form-data" method="POST"> 
    {% csrf_token %}
    <div class="container mt-3">
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Update</button>
    </div>
</form>
{% endblock %}
{% block js %}
<script>
    {% if alert %}
    alert('Your Profile has been updated successfully.');
    document.location = '/profile/';
    {% endif %}
</script>
{% endblock %}
