{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block body %}    

<div class="pCard_card">
    <div class="pCard_up" style="background-image: url({{ i.profile.image.url }});">
       <div class="pCard_text">
          <h2>{{i}}</h2>
          <h4>{{i.get_full_name}}</h4>
       </div>
       <div class="pCard_add"><i class="fa fa-plus"></i></div>
    </div>
    <div class="pCard_down">
       <div>
          <p>Bio</p>
          <p>{{i.profile.bio}}</p>
       </div>
    </div>
    {% if i.profile.linkedin or i.profile.facebook or i.profile.instagram %}
    <div class="pCard_back">
       <p>Connect With Me</p>
       {% if i.profile.linkedin %}
       <a href="{{i.profile.linkedin}}"><i class="fab fa-facebook fa-2x"></i></a>
       {% endif %}
       {% if i.profile.linkedin %}
       <a href="{{i.profile.linkedin}}"><i class="fab fa-linkedin fa-2x"></i></a>
       {% endif %}
       {% if i.profile.instagram %}
       <a href="{{i.profile.instagram}}"><i class="fab fa-instagram fa-2x"></i></a>
       {% endif %}
       <p>Follow Me!</p>
    </div>
    {% endif %}
 </div>
{% endblock %}
